langchain
fastapi 
uvicorn 
PyMuPDF
python-multipart
pdfplumber
numpy
opencv-python-headless
pytesseract
Pillow
python-dotenv
google-cloud-storage
google-cloud-firestore
google-cloud-tasks
google-genai
rapidfuzz
langgraph
langchain-google-genai
langchain-core